# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache

# IDE settings
.vscode/
.idea/
.vs

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Entity Framework Migrations history
Migrations/

# Environment variables and secrets
.env
appsettings*.json
!appsettings.json

# Temporary files
*.tmp
*.bak
